<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside -%>
  <%= paginator.render do -%>
    <nav
      class="pagination flex items-center justify-between w-full gap-1"
      role="navigation"
      aria-label="pager"
    >

      <div class="flex gap-1">
        <%= first_page_tag %>
        <%= prev_page_tag %>
      </div>
      <div class="hidden items-center gap-1">
        <% each_page do |page| -%>
          <% if page.display_tag? -%>
            <div
              class="
                border rounded-md px-2 py-1 min-w-10 lg:flex items-center hidden justify-center
              "
            >
              <%= page_tag page %>
            </div>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        <% end -%>
      </div>
      <% unless current_page.out_of_range? %>
        <div class="flex gap-1">
          <%= next_page_tag unless current_page.last? %>
          <%= last_page_tag unless current_page.last? %>
        </div>
      <% end %>
    </nav>
  <% end -%>
